In [2]:
from mimesis import Generic
import random
import pandas as pd
from faker import Faker
import numpy as np
from datetime import datetime, timedelta

In [3]:
fake = Generic()
random.seed(30)

In [4]:
nigeria_location_data=pd.read_csv("ng.csv")

nigeria_location_data

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Lagos,6.4550,3.3841,Nigeria,NG,Lagos,minor,16637000.0,16637000.0
1,Kano,12.0000,8.5167,Nigeria,NG,Kano,admin,3848885.0,3848885.0
2,Abuja,9.0667,7.4833,Nigeria,NG,Federal Capital Territory,primary,3770000.0,107169.0
3,Ibadan,7.3964,3.9167,Nigeria,NG,Oyo,admin,3552000.0,2550593.0
4,Port Harcourt,4.8242,7.0336,Nigeria,NG,Rivers,admin,1865000.0,1005904.0
...,...,...,...,...,...,...,...,...,...
56,Nchia,4.7931,7.1206,Nigeria,NG,Rivers,minor,NaN,NaN
57,Egbeda,7.3772,4.0498,Nigeria,NG,Oyo,minor,NaN,NaN
58,Ukpo,6.2141,6.9666,Nigeria,NG,Anambra,minor,NaN,NaN
59,Abagana,6.1833,6.9833,Nigeria,NG,Anambra,minor,NaN,NaN
60,Suleja,9.1806,7.1794,Nigeria,NG,Niger,minor,NaN,NaN

In [5]:
# List of Nigerian states
nigerian_states = nigeria_location_data['admin_name']

nigerian_cities= nigeria_location_data['city']

In [6]:
nigeria_address=nigerian_cities + ',' + nigerian_states
nigeria_address

0                         Lagos,Lagos
1                           Kano,Kano
2     Abuja,Federal Capital Territory
3                          Ibadan,Oyo
4                Port Harcourt,Rivers
                   ...
56                       Nchia,Rivers
57                         Egbeda,Oyo
58                       Ukpo,Anambra
59                    Abagana,Anambra
60                       Suleja,Niger
Length: 61, dtype: object

### FUNCTION

In [7]:
# Function to generate Nigerian-name
naija_names = pd.read_csv("naija-names (1).csv")
def generate_nigerian_names():
    name =random.choice(naija_names["Names"])
    return name

In [8]:
# Function to generate Nigerian-style phone numbers
def generate_nigerian_phone_number():
    prefix = random.choice(["080", "081", "070", "090"])
    return f"{prefix}{random.randint(10000000, 99999999)}"

In [9]:
# bvn generator
def generate_unique_bvn(used_bvns):
    while True:
        bvn = fake.random_int(min=10000000000, max=29999999999)
        if bvn not in used_bvns:
            used_bvns.add(bvn)
            return bvn

used_bvns = set()

In [10]:

def generate_emails(user_df):
    domain_extensions = [
        "gmail.com",
        "yahoo.com",
        "outlook.com",
        "hotmail.com",
        "aol.com",
        "icloud.com",
        "protonmail.com",
        "zoho.com",
        "fastmail.com",
        "mail.com",
    ]

    emails = []

    for index, row in user_df.iterrows():
        first_name = row['FirstName']
        last_name = row['LastName']
    
        if pd.isna(first_name) or pd.isna(last_name):
            emails.append(None)
            continue

        # Randomly pick the number of characters from the first name
        num_chars = random.randint(1, len(first_name))

        # Randomly add numbers to the first name
        first_name_with_numbers = ''.join([random.choice('0123456789') if i % 2 == 0 else char for i, char in enumerate(first_name)])

        # Combine modified first name with last name
        username = first_name_with_numbers.lower() + last_name.lower()

        # Randomly choose a domain extension (85% chance for "gmail.com")
        domain = random.choices(domain_extensions, weights=[0.85] + [0.15 / (len(domain_extensions) - 1)] * (len(domain_extensions) - 1))[0]

        # Construct the email address
        email = f"{username}@{domain}"

        emails.append(email)

    return email

In [11]:
def generate_gender():
    genders = ['Male', 'Female', 'Other']
    gender_distribution = [6.4, 3.5, 0.1]
    return random.choices(genders, weights=gender_distribution)[0]

### USERS TABLE

In [12]:
user_df=pd.read_csv('userdf.csv')
user_df

,Unnamed: 0,UserID,UserType,Prefix,FirstName,MiddleName,LastName,Suffix,RegistrationDate,LastLogin_Date,Password
0,0,SMU1,IN,Ms.,Aisosa,NaN,Omorogieva,NaN,2023-01-22 09:16:27,2023-02-05 09:16:27,P^dS5GPHjw
1,1,SMU2,IN,Mr.,Oba,Ih,Daluchi,NaN,2022-03-23 23:01:30,2022-04-11 23:01:30,F*52$*yIuL
2,2,SMU3,IN,Ms.,Carri,Bellden,Tuti,NaN,2023-10-10 10:00:13,2023-10-15 10:00:13,%hIKaLtv97
3,3,SMU4,IN,Ms.,Hamest,NaN,Ivan,NaN,2022-03-07 16:55:30,2022-04-04 16:55:30,QRU6C8!h@7
4,4,SMU5,IN,Mr.,Abdulkhalik,Aiyoboghagbon,Hardwyn,NaN,2022-09-15 10:07:08,2022-10-03 10:07:08,hBN14Q#a^S
...,...,...,...,...,...,...,...,...,...,...,...
19653,19653,SMU19654,IN,Ms.,Agboghidi,Aimuemweosa,Ewere,NaN,2020-03-01 21:27:04,2020-03-04 21:27:04,H4)MBPuC*3
19654,19654,SMU19655,IN,Mr.,Chiemelie,NaN,Halinor,NaN,2021-03-28 04:32:38,2021-04-16 04:32:38,2uBgJOrp)h
19655,19655,SMU19656,IN,Ms.,Temidayo,NaN,Benjamen,Jr.,2023-02-05 23:48:40,2023-02-10 23:48:40,(hYSk%c5b0
19656,19656,SMU19657,IN,Ms.,Abadi,Tirzah,Beckie,Null,2022-11-08 19:41:56,2022-11-09 19:41:56,7J3jo_Ze)*
19657,19657,SMU19658,IN,Ms.,Deagmund,Ubaid,Zebadiah,NaN,2022-04-02 21:24:43,2022-04-11 21:24:43,@51u@Wj$8%

In [13]:
user_df.groupby(['UserType']).count()

,Unnamed: 0,UserID,Prefix,FirstName,MiddleName,LastName,Suffix,RegistrationDate,LastLogin_Date,Password
UserType,,,,,,,,,,
AG,2143,2143,2143,2140,1431,2141,750,2143,2143,2143
EM,48,48,48,48,29,48,14,48,48,48
GC,14,14,14,14,5,14,5,14,14,14
IN,17255,17255,17255,17232,11531,17229,6030,17255,17255,17255
SC,198,198,198,198,138,198,71,198,198,198

In [14]:
phone_type_data = {
    'PhoneTypeID': [1, 2, 3, 4],
    'PhoneTypeName': ['home', 'work', 'mobile', 'other']
}
dist=[5,3,1.8,2]
phone_type_df = pd.DataFrame(phone_type_data)
phone_type_df

   PhoneTypeID PhoneTypeName
0            1          home
1            2          work
2            3        mobile
3            4         other

In [15]:
phone_type_df = pd.DataFrame(phone_type_data)

# Create an empty list to store phone data
phone_data = []

# Populate phone data for each user
for index, row in user_df.iterrows():
    user_id = row['UserID']
    registration_date = row['RegistrationDate']
    phone_type_id = random.choices(phone_type_df['PhoneTypeID'],weights=dist)
    change_date = row['RegistrationDate']
    phone_number = generate_nigerian_phone_number()
    phone_data.append([phone_number, change_date, user_id, phone_type_id])
# Create a DataFrame from the phone_data list
phone_df = pd.DataFrame(phone_data, columns=['PhoneNumber', 'ModifiedDate', 'UserID', 'PhoneTypeCode'])
phone_df

       PhoneNumber         ModifiedDate    UserID PhoneTypeCode
0      07092007480  2023-01-22 09:16:27      SMU1           [2]
1      08144531131  2022-03-23 23:01:30      SMU2           [1]
2      09096111162  2023-10-10 10:00:13      SMU3           [1]
3      08071945912  2022-03-07 16:55:30      SMU4           [1]
4      08113469627  2022-09-15 10:07:08      SMU5           [1]
...            ...                  ...       ...           ...
19653  09040378999  2020-03-01 21:27:04  SMU19654           [1]
19654  07045961631  2021-03-28 04:32:38  SMU19655           [4]
19655  08078427151  2023-02-05 23:48:40  SMU19656           [1]
19656  08134960136  2022-11-08 19:41:56  SMU19657           [4]
19657  08028383360  2022-04-02 21:24:43  SMU19658           [1]

[19658 rows x 4 columns]

In [16]:
address_type_data = {
    'AddressTypeID': [1, 2, 3, 4,5],
    'AddressTypeName': ['home', 'work', 'primary', 'others','main office']
}
dist=[5,3,1.5,0.3,1]
address_type_df = pd.DataFrame(address_type_data)
address_type_df

   AddressTypeID AddressTypeName
0              1            home
1              2            work
2              3         primary
3              4          others
4              5     main office

### CITY AND STATE

In [17]:
states = ["Abia", "Adamawa", "Akwa Ibom", "Anambra", "Bauchi",
          "Benue", "Borno", "Cross River", "Delta",
          "Ebonyi", "Edo", "Ekiti", "Enugu", "Gombe", "Imo", "Jigawa",
          "Kaduna", "Kano", "Katsina", "Kebbi", "Kogi", "Kwara",
          "Lagos", "Nasarawa", "Niger", "Ogun", "Ondo", "Osun", "Oyo",
          "Plateau", "Rivers", "Sokoto", "Taraba", "Yobe", "Zamfara","Bayelsa"]

state_df = pd.DataFrame({'StateID': range(1, len(states)+1), 'States':states})

In [18]:
cities_df=pd.read_csv('cities.csv')
cities_df

     Unnamed: 0  CityID         Cities  StatesID
0             0       1      Aba North         1
1             1       2     Aba South          1
2             2       3      Arochukwu         1
3             3       4          Bende         1
4             4       5        Ikwuano         1
..          ...     ...            ...       ...
641         641     642          Nembe        36
642         642     643          Ogbia        36
643         643     644        Sagbama        36
644         644     645  Southern Ijaw        36
645         645     646        Yenagoa        36

[646 rows x 4 columns]

In [19]:
address_type_df = pd.DataFrame(address_type_data)
fake=Faker()
# Create an empty list to store phone data
address_data = []
d=[4,6]

# Populate phone data for each user
for index, row in user_df.iterrows():
    user_id = row['UserID']
    pick=[f'{fake.address()}','Null']
    address_line1=f'{fake.address()}'[:20]
    address_line2=random.choices(pick,weights=d)[:20]
    city_id=random.choices(cities_df['CityID'])
    address_type_id=random.choice(address_type_df['AddressTypeID'])
    address_data.append([id, address_line1,address_line2, city_id, user_id, address_type_id])
    id+=1
# Create a DataFrame from the phone_data list
address_df = pd.DataFrame(address_data, columns=['AddressID', 'AddressLine1', 'AddressLine2','CITY', 'UserID', 'AddressTypeCode'])
address_df

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

##EMAIL ADDRESS

In [ ]:

email_address_data = []

# Populate phone data for each user
for index, row in user_df.iterrows():
    user_id = row['UserID']
    firstname=row['FirstName']
    email=generate_emails(user_df)
    modifiedDate=row['RegistrationDate']
# Create a DataFrame from the phone_data list
address_df = pd.DataFrame(address_data, columns=['UserID','Email','ModifiedDate'])
address_df

:

In [ ]:

# Define the percentage of employees leaving the department
percentage_of_departure = 5  # Approximately 5% of employees leave the department

# Create an empty DataFrame to store employee history data
employee_history_df = pd.DataFrame(columns=["UserID", "DepartmentID", "StartDate", "EndDate", "ModifiedDate"])

# Function to calculate a random start date based on the provided rules
def calculate_start_date(registration_date, switching_departments):
    if switching_departments:
        return str(registration_date) + str(timedelta(days=random.randint(1, 365)))
    else:
        return registration_date

# Function to calculate the end date based on the provided rules
def calculate_end_date(start_date, is_departure):
    if is_departure:
        return str(start_date)+ str(timedelta(days=random.randint(1, 365)))
    else:
        return None

# Generate employee history data
for index, employee_row in employee_df.iterrows():
    # Determine the department for the employee based on job title and department information
# Determine the department for the employee based on job title and department information
    matching_departments = department_df[
        (department_df["Department Name"] == employee_row["JobTitle"])
    ]

    
    if not matching_departments.empty:
        department_id = matching_departments["DepartmentID"].values[0]
    else:
        # If no matching department is found, assign a default department ID
        department_id = 0

    # Determine if the employee is switching departments
    switching_departments = random.choices([True, False], [5, 95])[0]

    # Calculate the start date based on the rules
    start_date = calculate_start_date(employee_row["HireDate"], switching_departments)

    # Determine if the employee is departing from the department
    is_departure = random.choices([True, False], [percentage_of_departure, 100 - percentage_of_departure])[0]

    # Calculate the end date based on the rules
    end_date = calculate_end_date(start_date, is_departure)

    # Create a new employee history record
    employee_history_data = {
        "UserID": employee_row["USERid"],
        "DepartmentID": department_id,
        "StartDate": start_date,
        "EndDate": end_date,
        "ModifiedDate": datetime.now()
    }

    # Append the employee history record to the DataFrame
    employee_history_df = employee_history_df.append(employee_history_data, ignore_index=True)
employee_history_df

In [ ]:
providers_df

In [ ]:
# DeviceTokens table
device_tokens_data = []
user_datas= user_id=df_user['UserID']
for user_id in user_datas:
    num_tokens = random.randint(1, 3)
    for _ in range(num_tokens):
        token_id = len(device_tokens_data) + 1
        device_type = random.choice(['iOS', 'Android', 'Web'])
        token = fake.sha256()
        expiration_date = fake.date_time_between(start_date="now", end_date="+1y")
        device_tokens_data.append((token_id, user_id, device_type, token, expiration_date))
device_tokens_df = pd.DataFrame(device_tokens_data, columns=['TokenID', 'UserID', 'DeviceType', 'Token', 'ExpirationDate'])

In [ ]:
device_tokens_df

**SESSION DATA**

In [ ]:
# SessionData table
session_data = []
for user_id in range(1, num_users + 1):
    num_sessions = random.randint(1, 5)
    for _ in range(num_sessions):
        session_id = len(session_data) + 1
        session_token = fake.sha256()
        expiration_time = fake.date_time_between(start_date="now", end_date="+1d")
        session_data.append((session_id, user_id, session_token, expiration_time))
session_data_df = pd.DataFrame(session_data, columns=['SessionID', 'UserID', 'SessionToken', 'ExpirationTime'])

In [ ]:
session_data_df

**AUDIT LOG**

In [ ]:
# AuditLogs table

audit_logs_data=[]
for user_id in range(1, num_users + 1):
    num_logs = random.randint(1, 20)
    for _ in range(num_logs):
        log_id = len(audit_logs_data) + 1
        action = random.choice(['Login', 'Logout', 'Transaction', 'Other'])
        login_time = fake.date_time_between(start_date="-1y", end_date="now")
        logout_time = login_time + timedelta(minutes=random.randint(5, 120))
        details = f"IP: {fake.ipv4()}; Browser: {fake.user_agent()}; Device: {fake.word()}"

        # Check if the user has a last_login_date, if not, use a random one
        if user_id <= len(user_data):
            last_login_date = user_data[user_id - 1][-3]
        else:
            last_login_date = fake.date_time_between(start_date="-1y", end_date="now")

        audit_logs_data.append((log_id, user_id, action, login_time, logout_time, last_login_date, details))

In [ ]:
# Convert the list to the DataFrame
audit_logs_df = pd.DataFrame(audit_logs_data, columns=['LogID', 'UserID', 'Action', 'LoginTime', 'LogoutTime', 'LastLoginDate', 'Details'])

In [ ]:
audit_logs_df

### USER PREFERENCE

In [ ]:
# user preferences for each user

user_preferences_data = []

common_preferences = [
    ("Language", ["English", "French", "Yoruba", "Igbo","Hausa"]),
    ("Currency", ["NGN"]),
    ("Notification Preferences", ["Email", "SMS", "Push Notifications"]),
    ("Security Settings", ["Biometric Authentication", "PIN Code", "Two-Factor Authentication"]),
    ("Transaction Limits", ["No Limit", "Daily Limit: ₦1000", "Daily Limit: ₦5000", "Daily Limit: ₦10000"]),
]


for user_id in range(1, num_users + 1):
    num_preferences = random.randint(3, 6)
    for _ in range(num_preferences):
        preference_id = len(user_preferences_data) + 1
        preference_name, values = random.choice(common_preferences)
        preference_value = random.choice(values)
        user_preferences_data.append((preference_id, user_id, preference_name, preference_value))
user_preferences_df = pd.DataFrame(user_preferences_data, columns=['PreferenceID', 'UserID', 'PreferenceName', 'PreferenceValue'])

In [ ]:
service_table = [
    (1, 'Ethel Clothe Online Store (CLOT)'),
    (1, 'ELITE PERFUME (ELP)'),
    (1, 'Ethel Product Payment (ETH)'),
    (1, 'FENRASTI ENTERPRISES (FENR)'),
    (1, 'francfol (francfol)'),
    (1, 'Friesland Key Business Partners (FKBP)'),
    (1, 'Genesis Group (GENE)'),
    (1, 'Hakman Engineering (HEL)'),
    (1, 'Hottub Pinault Nigeria Limited (HTP)'),
    (1, 'Intense Studios (INSD)'),
    (2, 'Benin Moov (MOOV BEMV)'),
    (2, 'Cameroon Orange (CMOR)'),
    (2, 'chatr (Canada Bell) (CANB)'),
    (2, 'Canada ChatR (CANC)'),
    (2, 'Canada Fido (fido CANF)'),
    (2, 'Canada Koodo (Koodo CANK)'),
    (2, 'MTS Canada (MTS CANM)'),
    (2, 'Public Canada (PublicMobile CANP)'),
    (2, 'Canada Rogers (ROGERS CANR)'),
    (2, 'Canada Solo (CANS)'),
    (2, 'Canada Virgin'),
    (3, 'Jewelrybyartrun (JBAR)'),
    (3, 'ARTRUN Retailpay (Retailpay)'),
    (3, 'Ckonga'),
    (3, 'JUSTFAITHBOUTIQUEANDSALOON (RPYM10139)'),
    (3, 'Kandlekids (KKD)'),
    (3, 'kassman ladies (KSLS)'),
    (3, 'KING-DON INVESTMENT LTD (KDIL)'),
    (3, 'Konga.com (KNGA)'),
    (3, 'Laurel Place (LaurelPlace LAU01)'),
    (3, 'RetailpayP (Retailpay)'),
    (3, 'Lawscope (LAW)'),
    (3, 'lizzyola enterprises (LYES)'),
    (3, 'Love Base (LoveBase LVB)'),
    (3, 'Netanpay (LYES)'),
    (3, 'LoveBase'),
    (4, 'NaijaBet'),
    (4, 'LS Bet (Livescorebet)'),
    (4, 'HUB (Mylottohub)'),
    (4, 'Merrybet'),
    (4, 'Naira Million'),
    (4, 'BetCorrect'),
    (4, 'HELABET NEW'),
    (4, 'ILOTBET'),
    (4, 'betway'),
    (4, 'betBonanza'),
    (4, 'bet9ja'),
    (4, 'EasyWin'),
    (4, 'Propaga Frapapa'),
    (4, 'MEGAMILLIONS'),
    (4, 'ILOTBET'),
    (4, 'SportyBet'),
    (4, 'WAJEGAME HOT (WAJE)'),
    (4, 'BetKing'),
    (4, '1XBET'),
    (4, 'Bangbet'),
    (5, 'Ethiopian Airlines (ETAS)'),
    (5, 'Hak Air Book-On-Hold (HKAIR)'),
    (5, 'Hotel Booking Limited (HQT)'),
    (5, 'JEFA TRAVELS (JEFA)'),
    (5, 'Medview Airlines (MDV)'),
    (5, 'Nahco Aviance (Nahco)'),
    (5, 'OVERLAND AIRWAYS LIMITED (OVER)'),
    (5, 'Pan-Atlantic University (PANQ)'),
    (5, 'PENCILLAND TRAVELS AND TOURS LIMITED (PENT)'),
    (5, 'RwandAir Book on Hold (RWD)'),
    (5, 'Slim Trader Mobile Book-On-Hold (ST)'),
    (5, 'Emirates'),
    (6, 'Chisco Transport Nigeria Limited (CTC)'),
    (6, 'EcoBank EasyFuel Top-up (ESF)'),
    (6, 'GIG MOBILITY LIMITED (GIGM)'),
    (6, 'Lekki Concession Company (Toll Payment) (LCC)'),
    (6, 'Rivers State Motor Vehicle Registration (RVAR)'),
    (6, 'Sprym.com (SPRY)'),
    (6, 'Stanbic EasyFuel Top-up (ETU)'),
    (6, 'Tranzit Location Service (TLS)'),
    (6, 'Travelbeta.com Limited (TBET)'),
    (6, 'Travelpaddy.com'),
    (7, 'kw.kcash (Kwikcash MNS)'),
    (7, 'Empowering The Corps (ETC)'),
    (7, 'Interswitch Lending Service (ILS)'),
    (7, 'One Finance (OFI)'),
    (7, 'Primera Credit MFB (PRM)'),
    (8, 'Bayelsa State IGR (Bayels)'),
    (8, 'Birnin Gwari Local Government (Birni)'),
    (8, 'BSEB Online (Benue State Examination Board)'),
    (8, 'CALABAR MUNICIPAL LOCAL GOVERNMENT (CMN)'),
    (9, 'Afe Babalola University Ado Ekiti (ABUA)'),
    (9, 'Ajayi Crowther University (AJU)'),
    (9, 'Al-Qalam University (ALQU)'),
    (9, 'Association of Medical Lab. Scientists (ASM)'),
    (9, 'Baseline Advance College of Arts, Science (BACASTECH)'),
    (10, 'Ibadan Electricity (IBEDC)'),
    (10, 'Ibadan Electricity'),
    (10, 'Kaduna Electricity'),
    (10, 'Ikeja Disco'),
    (10, 'AEDC Abuja Electricity'),
    (10, 'PH (Port Harcourt)'),
    (10, 'ECEDC'),
    (10, 'Eko Electricity'),
    (10, 'EEDC'),
    (10, 'Enugu Electricity'),
    (10, 'Kano Electricity (KEDCO)'),
    (10, 'BEDC Benin Electricity'),
    (11, 'ePAY (EPAY)'),
    (11, 'QuickSteller (Quick teller)'),
    (11, 'Oando eVAP (eVAP)'),
    (11, 'ePAY Payments'),
    (11, 'DHL shipping payments (POS DHL)'),
    (11, 'Hududullah (HUD)'),
    (11, 'Oando eVAP (Diesel Sales) (OML)'),
    (11, 'Oando Marketing Limited (OML)'),
    (11, 'OMNIVU (OMNIV)'),
    (12, 'NSIA Insurance Existing Customers (NSIAEC)'),
    (12, 'NSIA Insurance New Customer or Agent (NINCA)'),
    (12, 'Prestige Assurance (PSIS)'),
    (12, 'QuickLife (QKLF)'),
    (12, 'RenMoney MFB Limited (REMML)'),
    (12, 'SmartInsure (QTIN)'),
    (12, 'Springlife Assurance (SPLA)'),
    (12, 'Stanbic IBTC Asset Management (SIAML)'),
    (12, 'Standard Alliance (STA)'),
    (12, 'UnityKapital Premium (UNK)'),
    (12, 'Corper Insurance Premium Service (HCIPS)'),
    (12, 'CUSTODIAN LIFE ASSURANCE LTD (CUSL)'),
    (12, 'Ensure Insurance Plc Existing Customers (EIPEC)'),
    (12, 'Ensure Insurance Plc New Customer (EIP)'),
    (12, 'FAN Capital'),
    (12, 'FBN QUEST ASSET MANAGEMENT (FBNQA)'),
    (12, 'Great Nigeria Insurance (GNI)'),
    (13, 'airtel Buy Android Bundles (AB BAB)'),
    (13, 'airtel Buy Talk More Bundles (BTMB)'),
    (13, 'Cloudware Technologies (CLOURE CWIS)'),
    (13, 'ESBA DESIGNERS (ESBA)'),
    (13, 'mobitel (MTN)'),
    (13, 'Interbound Resources (INTBD)'),
    (13, 'Mobitel Payments (MBTL)'),
    (13, 'MTN Fixed Internet (MFI)'),
    (13, 'MTN Hynet Quickteller (MHNT)'),
    (13, 'Multilinks Internet e-PIN Voucher (MTLK)'),
    (13, 'Smart SMS Solutions (smart sms solutions SMS)'),
    (14, 'MTN'),
    (14, 'Airtel'),
    (14, 'glo'),
    (14, '9Mobile'),
    (15, 'Bodor badoza.com (DaDoza)'),
    (15, 'Supatim (Clevermash.com)'),
    (15, "Glamour's Place (GLM)"),
    (15, 'Payment on Supatins (SUT)'),
    (15, 'ale Shop on Kuteshop (KUT)'),
    (15, "Biker's Arena"),
    (16, 'WINNERS CHAPEL LFCW'),
    (16, 'Salvation Ministries (SMT)'),
    (16, 'Mountain Of Fire Donation MFM'),
    (16, 'The Bible Society of Nigeria (BSN)'),
    (16, 'Battle Cry Christian Ministries (BCCM)'),
    (16, 'Catholic Archdiocese of Lagos (CAL)'),
    (16, 'CCIC Christ Chapel Int\'l Churches'),
    (16, 'Christ Embassy (CEI)'),
    (16, 'Christ Embassy Loveworld App (CEP)'),
    (16, 'Church Of God Mission Int\'l'),
    (16, 'CSN Appeal Fund (CSN)'),
    (16, 'DKO EBOOKS (KODN)'),
    (16, 'Eckankar ECK'),
    (16, 'Emmanuel Global Network Limited (EGNL)'),
    (16, 'Gateway International Church (GICP)'),
    (16, 'Glory Impact Christian Centre (GICC)'),
    (16, 'GRACE ASSEMBLY (GA)'),
    (16, 'Harvesters International Christian Centre (HICC)'),
    (16, 'HighLife Church (HLC)'),
    (16, 'House on the Rock (HOTR)'),
    (16, 'NASFAT'),
    (16, 'Liberation Embassy (LIB)'),
    (16, 'Living Impact Christian Centre (LICC)'),
    (16, 'Living word ministries (LWM)'),
    (17, '234Give (act now)'),
    (17, 'Buhari Support Organisation (BSO)'),
    (17, 'Brennd Lonson @50 (Bunmi Lawson @ 50)'),
    (17, 'Center For Defense Of Widows Rights (CEDWI)'),
    (17, 'Dawah Nigeria (DAWAH)'),
    (17, 'Disability Empowerment Solution Initiatives (DESI)'),
    (17, 'Discovery for Men (DCM)'),
    (17, 'Donate To E.A.A (DEAA)'),
    (17, 'Dr Ameyo Stella Adadevoh Health Trust (CPHILL)')
]

df_biller=pd.DataFrame(service_table)

In [ ]:


# Define a function to apply the logic for creating the "AccountFlag" column
def create_account_flag(row):
    category_id = row['CategoryID']
    if category_id == 1:
        return 1
    elif category_id == 2:
        return 0
    elif category_id in [3, 5, 6, 9, 14, 15, 17]:
        return 1 if random.random() <= 0.7 else 0  # 70% chance for 1, 30% chance for 0
    elif category_id == 4 or category_id in [7, 8, 10, 11, 12, 13, 16]:
        return 0
    elif category_id == 5:
        return 1 if random.random() <= 0.95 else 0  # 95% chance for 1, 5% chance for 0
    else:
        return None  # You can handle other cases as needed

# Apply the function to create the "AccountFlag" column in "df_biller"
df_biller['AccountFlag'] = df_biller.apply(create_account_flag, axis=1)

# Now, "df_biller" will have a new "AccountFlag" column with the specified logic applied.

In [ ]:
df_biller

In [ ]:

header=['CategoryID','Provider']
df_biller.columns=header
df_biller.to_csv('biller.csv', index=False)

In [ ]:
df_biller=pd.read_csv('biller.csv')

In [ ]:
df_biller

In [ ]:
user_preferences_df

### CUSTOMERS

In [ ]:
df_customer = df_user[df_user['RoleID'] == 1]

In [ ]:
customer_data = []
customer_id_counter = 1

for user_id in df_customer['UserID']:
    bvn = generate_unique_bvn(used_bvns)
    gender= generate_gender()
    dob = fake.date_of_birth(minimum_age=18, maximum_age=70)
    address=generate_nigerian_address()
    customer_id = f'CID{customer_id_counter:04}'
    customer_data.append((customer_id, bvn, user_id,gender,address,dob))
    customer_id_counter += 1

In [ ]:
df_customer=pd.DataFrame(customer_data, columns=['CustomerID','BVN', 'UserID','Gender','Address','DateOFBirth'])

In [ ]:
df_customer

In [ ]:
df_user.groupby(['RoleID']).count()

**GEOLOCATION DATA**

In [ ]:
geolocation_data=[]

geo_data_list = list(nigeria_location_data.iterrows())

for user_id in range(1, num_users + 1):
    num_locations = len(nigeria_location_data)
    for _ in range(num_locations):
        row = random.choice(geo_data_list)[1]
        city = row['city']
        lat = row['lat']
        lng = row['lng']

        # Generate a random timestamp between the last year and now
        timestamp = fake.date_time_between(start_date="-1y", end_date="now")

        geolocation_data.append((user_id, city, lat, lng, timestamp))

# Convert the list to the DataFrame
geolocation_data_df = pd.DataFrame(geolocation_data, columns=['UserID', 'City', 'Latitude', 'Longitude', 'Timestamp'])

In [ ]:

geolocation_data_df

### WALLET

In [ ]:
#  mapping of Account Types to RoleIDs
import string
account_type_mapping = {
    1: ["Savings: KYC 1", "Savings: KYC 2", "Savings: KYC 3"],
    2: ["SharpMonie Agent"],
    3: ["SharpMonie Merchant"],
}

# Function to generate a random merchant account number
def generate_merchant_account_number():
    return "SPM" + ''.join(random.choices(string.digits, k=6))

# Function to assign accounts to users based on their RoleID
def assign_accounts(row):
    if row['RoleID'] in account_type_mapping:
        if row['RoleID'] == 1:
            # For RoleID 1 (Customer), assign a saving account and randomly select KYC level
            account_type = random.choice(account_type_mapping[row['RoleID']])
            # Use the last 10 digits of the phone number as the account number
            account_number = row['PhoneNumber'][-10:]
        elif row['RoleID'] == 2:
            # For RoleID 2 (Agent), assign an agent account
            account_type = account_type_mapping[row['RoleID']][0]
            # Agent account number starts with "02" followed by 8 random digits
            account_number = "02" + ''.join(random.choices(string.digits, k=8))
        else:
            # For RoleID 3 (Merchant), assign a merchant account
            account_type = account_type_mapping[row['RoleID']][0]
            # Merchant account number starts with "SPM" followed by 6 random digits
            account_number = generate_merchant_account_number()

        return pd.Series([account_type, account_number], index=['AccountType', 'AccountNumber'])
    else:
        return pd.Series([None, None], index=['AccountType', 'AccountNumber'])

# Assign accounts to users based on their RoleID
df_user[['AccountType', 'AccountNumber']] = df_user.apply(assign_accounts, axis=1)

# Calculate balance limits
df_user['BalanceLimit'] = np.where(df_user['RoleID'] == 1, 2000000,
                                   np.where(df_user['RoleID'] == 2, 10000000,
                                            np.where(df_user['RoleID'] == 3, 20000000, 0)))

# Generate random wallet balances
df_user['WalletBalance'] = np.random.uniform(0, df_user['BalanceLimit'])

# Generate wallet creation date and status
df_user['WalletCreationDate'] = df_user['RegistrationDate']
df_user['WalletStatus'] = np.random.choice(["Active", "Inactive"], size=len(df_user), p=[0.995, 0.005])

# Create a DataFrame for wallet data
wallet_df = df_user[['UserID', 'WalletBalance', 'AccountType', 'AccountNumber', 'WalletCreationDate', 'WalletStatus']]
wallet_df.columns = ['UserID', 'Balance', 'WalletType', 'AccountNumber', 'CreationDate', 'Status']

# Reset index
wallet_df.reset_index(drop=True, inplace=True)

In [ ]:
# Add a WalletID column to the DataFrameDataFrame using .loc

wallet_df.loc[:, 'WalletID'] = ['SMW' + str(i) for i in range(1, len(wallet_df) + 1)]

# Reorder the columns
wallet_df = wallet_df[['WalletID', 'UserID', 'Balance', 'WalletType', 'AccountNumber', 'CreationDate', 'Status']]

In [ ]:
wallet_df

In [ ]:
wallet_df.groupby(['Status']).count()

### WALLET TRANSACTIONS

In [ ]:

import datetime

# Assuming you have DataFrames for Wallets (wallet_df)

# Initialize an empty list to store transaction data
transaction_data = []

# Define the number of transactions for each wallet based on your desired range
num_transactions_per_wallet = [20, 15, 3, 37, 46]  # You can adjust this list as needed

# Loop through each wallet and generate the specified number of transactions
for index, row in wallet_df.iterrows():
    wallet_id = row['WalletID']  # Use the actual Wallet ID from the wallet table
    account_type = row['WalletType']
    creation_date = row['CreationDate']

    # Determine the number of transactions for the current wallet
    num_transactions = random.choice(num_transactions_per_wallet)

    for _ in range(num_transactions):
        transaction_id = len(transaction_data) + 1
        transaction_date = random.choice(pd.date_range(start=creation_date, end=datetime.datetime.now()))
        transaction_status = random.choices(['Success', 'Pending', 'Failed'], k=1, weights=[0.95, 0.02, 0.03])[0]
        
        # Define transaction type based on account type
        if account_type == "OPay Merchant":
            transaction_type = random.choices(['Credit', 'Debit'], k=1, weights=[0.8, 0.2])[0]
        else:
            transaction_type = random.choices(['Credit', 'Debit'], k=1)[0]

        # Adjust the amount based on transaction type and account type
        if transaction_type == "Credit":
            amount = round(random.uniform(10, 100000), 2)
        else:
            if account_type == "OPay Merchant":
                # For Merchant accounts, debit transactions can be larger
                amount = round(random.uniform(1000, 50000), 2)
            else:
                # For other account types, debit transactions are typical
                amount = round(random.uniform(10, 1000), 2)

        # Define transaction purposes based on the account type and transaction type
        if account_type == "OPay Merchant":
            # For Merchant accounts, set the purpose as "Refund" for debit transactions
            transaction_purpose = "Refund" if transaction_type == "Debit" else random.choice(["Deposit"])
        else:
            # For other accounts, use various purposes
            debit_purposes = [
                "Mobile Recharge and Data Purchase",
                "Bill Payments",
                "Funds Transfer",
                "Peer-to-Peer Transactions",
                "Betting Account Funding",
                "Withdrawal"
            ]
            credit_purposes = ["Deposit"]
            transaction_purpose = random.choice(debit_purposes) if transaction_type == "Debit" else random.choice(credit_purposes)

        # Append the transaction data to the list
        transaction_data.append([transaction_id, transaction_date, transaction_status, wallet_id, transaction_type, amount, transaction_purpose])

    # Print progress for each wallet
    print(f"Generated {num_transactions} transactions for Wallet ID {wallet_id}")

# Create the WalletTransactions DataFrame
wallet_transactions_df = pd.DataFrame(transaction_data, columns=[
    'TransactionID', 'TransactionDate', 'Status', 'WalletID', 'TransactionType', 'Amount', 'Purpose'
])

In [ ]:
wallet_transactions_df

In [ ]:
wallet_transactions_df.groupby(['Purpose']).count()

## WALLET BALLANCE LOG

In [ ]:

# Initialize an empty list to store balance log data
balance_log_data = []

# Create an initial balance log for each wallet
for _, row in wallet_df.iterrows():
    wallet_id = row['WalletID']
    creation_date = row['CreationDate']
    initial_balance = 0.0  # Starting balance is zero
    balance_log_data.append([wallet_id, creation_date, initial_balance])

# Sort the balance log data by wallet ID and date
balance_log_data.sort(key=lambda x: (x[0], x[1]))

# Calculate and update the balance log based on transactions
current_balance = {}  # Create a dictionary to keep track of the current balance for each wallet

for _, row in wallet_transactions_df.iterrows():
    wallet_id = row['WalletID']
    transaction_date = row['TransactionDate']
    transaction_type = row['TransactionType']
    amount = row['Amount']

    # Get the current balance for the wallet
    if wallet_id not in current_balance:
        current_balance[wallet_id] = 0.0  # Initialize balance if not present in the dictionary
    balance = current_balance[wallet_id]

    # Update balance based on transaction type
    if transaction_type == 'Credit':
        balance += amount
    else:
        balance -= amount

    # Append the updated balance to the balance log
    balance_log_data.append([wallet_id, transaction_date, balance])

# Create the WalletBalanceLog DataFrame
wallet_balance_log_df = pd.DataFrame(balance_log_data, columns=['WalletID', 'Date', 'Balance'])

# Sort the balance log by wallet ID and date
wallet_balance_log_df.sort_values(by=['WalletID', 'Date'], inplace=True)

# Reset the index
wallet_balance_log_df.reset_index(drop=True, inplace=True)

In [ ]:
wallet_balance_log_df.head(20)

In [ ]:

# Filter transactions for "Withdrawal" purpose
withdrawal_transactions = wallet_transactions_df[wallet_transactions_df['Purpose'] == 'Withdrawal']

# Initialize an empty list to store Withdrawals data
withdrawals_data = []

# Iterate through Withdrawal transactions and create the Withdrawals table
for _, row in withdrawal_transactions.iterrows():
    wallet_id = row['WalletID']
    amount = row['Amount']
    request_date = row['TransactionDate']
    status = row['Status']

    # Simulate different withdrawal methods (customize as needed)
    withdrawal_method = random.choice(["ATM", "Bank Transfer", "Cash Pickup", "Mobile Wallet"])

    # Append the Withdrawals data to the list
    withdrawals_data.append([wallet_id, amount, withdrawal_method, request_date, status])

# Create the Withdrawals DataFrame
withdrawals_df = pd.DataFrame(withdrawals_data, columns=[
    'WalletID', 'Amount', 'WithdrawalMethod', 'RequestDate', 'Status'
])

In [ ]:
withdrawals_df.groupby(['Status']).count()

In [ ]:


# Filter the transaction table by transaction type "Funds Transfer"
funds_transfer_df = wallet_transactions_df[wallet_transactions_df['Purpose'] == 'Funds Transfer']

In [ ]:

# Create the OtherBank table
other_bank_df = pd.DataFrame(columns=['SenderWalletID', 'BankName', 'AccountNumber', 'AccountHolderName', 'Amount', 'TransactionDate'])

In [ ]:

# Define Nigerian banks and payment service banks
nigerian_banks = [
    "Zenith Bank",
    "Guaranty Trust Bank (GTBank)",
    "Access Bank",
    "First Bank of Nigeria",
    "United Bank for Africa (UBA)",
    "Ecobank Nigeria",
    "Diamond Bank (Acquired by Access Bank)",
    "Fidelity Bank",
    "Stanbic IBTC Bank",
    "Union Bank of Nigeria",
    "Wema Bank",
    "Heritage Bank",
    "Sterling Bank",
    "Polaris Bank",
    "Keystone Bank"
]

payment_service_banks = [
    "Opay",
    "Kuda Bank",
    "Carbon (formerly Paylater)",
    "9PSB (Nigeria Postal Service Bank)",
    "Specta by Sterling",
    "Gomoney",
    "Eyowo",
    "FairMoney",
    "Nuban by FCMB",
    "V by VFD Microfinance Bank",
    "Mint by FinTechNG"
]

In [ ]:
# Iterate through filtered funds transfer transactions and extract relevant information
for _, row in funds_transfer_df.iterrows():
    sender_wallet_id = row['WalletID']
    bank_name = random.choice(nigerian_banks + payment_service_banks)
    account_number = ''.join(random.choices('0123456789', k=10))  # Generate a random 10-digit account number
    account_holder_name = generate_nigerian_names()  # Use the generated Nigerian name
    amount = row['Amount']
    transaction_date = row['TransactionDate']

    # Append the data to the OtherBank table
    other_bank_df = pd.concat([other_bank_df, pd.DataFrame({'SenderWalletID': [sender_wallet_id],
                                                           'BankName': [bank_name],
                                                           'AccountNumber': [account_number],
                                                           'AccountHolderName': [account_holder_name],
                                                           'Amount': [amount],
                                                           'TransactionDate': [transaction_date]})], ignore_index=True)

In [ ]:
other_bank_df

In [ ]:


# Filter transactions for "Deposit" purpose
deposit_transactions = wallet_transactions_df[wallet_transactions_df['Purpose'] == 'Deposit']

# Initialize an empty list to store deposit data
deposit_data = []

# Iterate through deposit transactions and create the Deposits table
for _, row in deposit_transactions.iterrows():
    deposit_id = len(deposit_data) + 1
    wallet_deposited_to = row['WalletID']
    amount = row['Amount']
    deposit_date = row['TransactionDate']
    status = row['Status']

    deposit_data.append([deposit_id, wallet_deposited_to, amount, deposit_date, status])

# Create the Deposits DataFrame
deposits_df = pd.DataFrame(deposit_data, columns=['DepositID', 'WalletDepositedTo', 'Amount', 'DepositDate', 'Status'])

In [ ]:
deposits_df

In [ ]:

# Initialize an empty list to store P2P transactions
p2p_data = []

# Filter transactions for "Peer-to-Peer" purpose
p2p_transactions = wallet_transactions_df[wallet_transactions_df['Purpose'] == 'Peer-to-Peer Transactions']

In [ ]:


# Iterate through P2P transactions and create the P2P table
for _, sender_row in p2p_transactions.iterrows():
    sender_wallet_id = sender_row['WalletID']
    sender_transaction_date = sender_row['TransactionDate']
    sender_amount = sender_row['Amount']
    # Filter transactions for the same purpose and find potential receivers
    potential_receivers = wallet_transactions_df[
        (wallet_transactions_df['Purpose'] == 'Peer-to-Peer Transactions') &
        (wallet_transactions_df['WalletID'] != sender_wallet_id)
    ]

    # Convert potential_receivers to a list of rows
    potential_receivers_list = potential_receivers.to_records(index=False)

    # Randomly select a receiver and generate a P2P transaction
    if len(potential_receivers_list) > 0:
        receiver_row = random.choice(potential_receivers_list)
        receiver_wallet_id = receiver_row['WalletID']
        receiver_transaction_date = receiver_row['TransactionDate']
        receiver_amount = receiver_row['Amount']

        # Create P2P transactions
        p2p_data.append([sender_wallet_id, receiver_wallet_id, sender_amount, sender_transaction_date])
        p2p_data.append([receiver_wallet_id, sender_wallet_id, receiver_amount, receiver_transaction_date])
        


# Create the P2P DataFrame
p2p_df = pd.DataFrame(p2p_data, columns=['SenderWalletID', 'ReceiverWalletID', 'Amount', 'TransactionDate'])

In [ ]:
p2p_df

In [ ]:
betting_provider_df=pd.read_csv('.\\Bootcamp-Data\\betting_provider.csv')

In [ ]:


# Filter transactions for "Betting Account Funding" purpose
betting_transactions = wallet_transactions_df[wallet_transactions_df['Purpose'] == 'Betting Account Funding']

# Initialize an empty list to store Betting Account Funding data
betting_data = []

# Iterate through betting transactions and create the Betting Account Funding table
for _, row in betting_transactions.iterrows():
    account_id = f'BA{len(betting_data) + 1}'
    # Randomly select a provider from the BettingProvider table
    provider_id = random.choice(betting_provider_df['ProviderID'])
    wallet_id = row['WalletID']
    # Generate a random account number
    account_number = ''.join(random.choices(string.digits, k=10))
    amount = row['Amount']
    transaction_date = row['TransactionDate']

    betting_data.append([account_id, provider_id, wallet_id, account_number, amount, transaction_date])

# Create the Betting Account Funding DataFrame
betting_account_history_df = pd.DataFrame(betting_data, columns=['AccountID', 'ProviderID', 'WalletID', 'AccountNumber', 'Amount', 'TransactionDate'])

In [ ]:
betting_account_history_df

In [ ]:
df_user.groupby(['RoleID']).count()

In [ ]:


def generate_unique_agent_code(agent_codes):
    while True:
        agent_code = fake.random_int(min=1000, max=9999)
        if agent_code not in agent_codes:
            agent_codes.add(agent_code)
            return f'SMA{agent_code}'


# Define your generate_gender and generate_nigerian_address functions here

# Filter the DataFrame to get users with RoleID = 2
df_agent = df_user[df_user['RoleID'] == 2]

agent_data = []
agent_codes = set()

for user_id in df_agent['UserID']:
    agent_code = generate_unique_agent_code(agent_codes)
    bvn = generate_unique_bvn(used_bvns)
    gender = generate_gender()  # Use your generate_gender function here
    dob = fake.date_of_birth(minimum_age=18, maximum_age=70)
    address = generate_nigerian_address()  # Use your generate_nigerian_address function here
    agent_data.append((agent_code, bvn, user_id, gender, address, dob))

# Create a DataFrame from agent_data
df_agent = pd.DataFrame(agent_data, columns=['AgentCode', 'BVN', 'UserID', 'Gender', 'Address', 'DateOfBirth'])

In [ ]:
df_agent

In [ ]:

data = {
    'ServiceID': [1, 2, 3, 4, 5, 6, 7, 8],
    'ServiceName': [
        'Cash Deposits and Withdrawals',
        'Fund Transfers',
        'Bill Payments',
        'Customer Onboarding',
        'Transaction Processing',
        'Cash Management',
        'Marketing and Sales Assistance',
        'POS Operations'
    ]
}

df_agent_services= pd.DataFrame(data)

In [ ]:


# Filter the Wallet table by 'SharpMonie Agent'
agent_wallets = wallet_df[wallet_df['WalletType'] == 'SharpMonie Agent']

# Join the filtered Wallets with WalletTransactions
agent_wallet_transactions = pd.merge(agent_wallets, wallet_transactions_df, on='WalletID')

# Join the result with the Agent table on User ID
agent_transactions_with_user = pd.merge(agent_wallet_transactions, df_agent, left_on='UserID', right_on='UserID')

service_weights = [0.6, 0.41, 0.79, 0.3, 0.4, 1, 1.5, 5]  # ServiceID 8 appears twice as often

# Randomly select a service from df_agent_services with weights
services = df_agent_services['ServiceID'].tolist()
agent_transactions_with_user['ServiceID'] = [random.choices(services, weights=service_weights)[0] for _ in range(len(agent_transactions_with_user))]

# Select and derive the relevant columns to create the AgentTransaction table
agent_transaction_data = {
    'TransactionID': agent_transactions_with_user['TransactionID'],
    'AgentID': agent_transactions_with_user['AgentCode'],
    'ServiceID': agent_transactions_with_user['ServiceID'],
    'Amount': agent_transactions_with_user['Amount'],
    'TransactionDate': agent_transactions_with_user['TransactionDate'],
    'WalletID': agent_transactions_with_user['WalletID'],
}

# Create the AgentTransaction DataFrame
agent_transaction_df = pd.DataFrame(agent_transaction_data)

# You now have the AgentTransaction table with the required columns, and the ServiceID is randomly selected.

In [ ]:
agent_transaction_df.groupby(['ServiceID']).count()

In [ ]:


# Define the list of terminal names and generate terminal IDs
terminal_names = ['SharpMonie']
terminal_ids = []

# Initialize an empty list to store POSTerminals data
posterminal_data = []

# Iterate through agents to assign terminals
for _, agent_row in df_agent.iterrows():
    agent_id = agent_row['AgentCode']
    num_terminals = random.randint(1,5)  # Randomly select 1 to 4 terminals for each agent

    for i in range(num_terminals):
        # Generate a unique terminal ID
        terminal_id = f"Terminal{random.randint(1, 10000)}"
        terminal_ids.append(terminal_id)

        # Assign the terminal to the agent
        terminal_name = random.choice(terminal_names)
        posterminal_data.append([terminal_id, terminal_name, agent_id])

# POSTerminals DataFrame
posterminal_df = pd.DataFrame(posterminal_data, columns=['POSTerminalID', 'TerminalName', 'AgentID'])

In [ ]:
posterminal_df

In [ ]:


# Define the opay_pos_transaction_activities
opay_pos_transaction_activities = [
    "Bill Payments",
    "Airtime Top-Up",
    "Fund Transfer",
    "Withdrawals",
    "Balance Inquiry",
    "Mini-Statement"
]

# Filter the AgentTransaction table by ServiceID = 8
filtered_agent_transactions = agent_transaction_df[agent_transaction_df['ServiceID'] == 8]

In [ ]:
filtered_agent_transactions

In [ ]:
post_transaction_data = []

# Iterate through the filtered transactions to create POSTransactions
for _, transaction_row in filtered_agent_transactions.iterrows():
    terminal_id = random.choice(posterminal_df['POSTerminalID'])
    amount = transaction_row['Amount']
    transaction_date = transaction_row['TransactionDate']
    service_type = random.choice(opay_pos_transaction_activities)

    # Append the POSTransaction data to the list
    post_transaction_data.append([terminal_id, amount, transaction_date, service_type])

# Create the POSTransaction DataFrame
post_transaction_df = pd.DataFrame(post_transaction_data, columns=['POSTerminalID', 'Amount', 'TransactionDate', 'ServiceType'])

In [ ]:
post_transaction_df

In [ ]:


# Initialize an empty list to store onboarding data
onboarding_data = []

# Iterate through agents and customers to simulate onboarding
for _, agent_row in df_agent.iterrows():
    agent_id = agent_row['AgentCode']
    
    # Simulate the possibility of an agent onboarding multiple customers
    num_customers_onboarded = random.randint(0, 5)  # Adjust the range as needed
    
    # Randomly select customers they onboard
    onboarded_customers = random.sample(df_customer['CustomerID'].tolist(), num_customers_onboarded)
    
    for customer_id in onboarded_customers:
        onboarding_data.append([None, agent_id, customer_id])

# Create the OnboardingCustomer DataFrame
onboarding_df = pd.DataFrame(onboarding_data, columns=[
    'OnboardingID', 'AgentID', 'CustomerID'
])

# Assign unique OnboardingIDs
onboarding_df['OnboardingID'] = range(1, len(onboarding_df) + 1)

In [ ]:
onboarding_df.groupby(['AgentID']).count()

In [ ]:
df_merchant=pd.read_csv('.\\Bootcamp-Data\\betting_provider.csv')

In [ ]:
df_merchant

In [ ]:


# Define the verification types and statuses for different roles
verification_types = {
    1: ["ID Verification", "Address Verification", "Photo Verification"],
    2: ["Agent ID Verification", "License Verification", "Background Check"],
    3: ["Business Registration", "Tax Certificate Verification", "Ownership Verification"]
}

verification_statuses = ["Pending", "Approved", "Rejected"]

# Initialize an empty list to store user verification data
user_verification_data = []

# Iterate through users and simulate the verification process
for _, user_row in df_user.iterrows():
    user_id = user_row['UserID']
    role_id = user_row['RoleID']
    verification_type = random.choice(verification_types.get(role_id, []))  # Select verification type based on role
    verification_status = random.choice(verification_statuses)
    verification_date = user_row['RegistrationDate']  # Assume verification date is the same as registration date
    approval_date = None
    rejection_date = None
    verification_attempts = random.randint(1, 3)  # Simulate 1 to 3 verification attempts
    status = random.choice(["Active", "Inactive"])

    # Set approval and rejection dates based on verification status
    if verification_status == "Approved":
        approval_date = verification_date + datetime.timedelta(days=random.randint(1, 30))
    elif verification_status == "Rejected":
        rejection_date = verification_date + datetime.timedelta(days=random.randint(1, 7))

    user_verification_data.append([
        None, user_id, verification_type, verification_status,
        verification_date, approval_date, rejection_date, verification_attempts, status
    ])

# Create the UserVerification DataFrame
user_verification_df = pd.DataFrame(user_verification_data, columns=[
    'ID', 'UserID', 'VerificationType', 'VerificationStatus',
    'VerificationDate', 'ApprovalDate', 'RejectionDate',
    'VerificationAttempts', 'Status'
])

# Assign unique IDs
user_verification_df['ID'] = range(1, len(user_verification_df) + 1)

In [ ]:
user_verification_df

In [ ]:


# Define the fraction of agents functioning as businesses (adjust as needed)
fraction_of_business_agents = 0.3  # 30% of agents function as businesses

# Initialize an empty list to store agent-business data
agent_business_data = []

# Iterate through agents to simulate agent-business relationships
for _, agent_row in df_agent.iterrows():
    agent_code = agent_row['AgentCode']
    
    # Simulate whether the agent functions as a business or not
    is_business = random.random() < fraction_of_business_agents
    
    if is_business:
        # If the agent functions as a business, select a random merchant code
        merchant_code = random.choice(df_merchant['MerchantCode'].tolist())
        agent_business_data.append([None, agent_code, merchant_code])
    else:
        # If the agent functions as an agent, leave the merchant code as None
        agent_business_data.append([None, agent_code, None])

# Create the AgentBusiness DataFrame
agent_business_df = pd.DataFrame(agent_business_data, columns=[
    'UniqueID', 'AgentCode', 'MerchantCode'
])

# Assign unique UniqueIDs
agent_business_df['UniqueID'] = range(1, len(agent_business_df) + 1)

### MERCHANT

In [ ]:
user_roleid3 = df_user[df_user['RoleID']==3]

In [ ]:
user_roleid3.shape

In [ ]:
user_roleid3.head(2)

In [ ]:
f'Total number of duplicated merchant record is: {sum(user_roleid3.duplicated())}'

In [ ]:
# get 5 hopitals from each of lagos, kano and PH
url = 'https://en.wikipedia.org/wiki/List_of_hospitals_in_'
states = ['Kano', 'Lagos', 'Port_Harcourt']
hospitals = []
for state in states:
  hospital_df = pd.read_html(url+states[0])[0]
hospitals += list(hospital_df['Name'].values[:5])

supermarket = ['FoodCo', 'Addide', 'Game Stores', 'Jara Superstore', 'Shoprite',
               'Spar', 'Ace']

non_profit = ['AFRICA HOPE ALIVE INITIATIVE', 'AFRICOMMUNITY TECHNOLOGY DEVELOPMENT CENTER',
              'ANNABELLES BOGI DEVELOPMENT INITIATIVE (ABDI)', 'ASA-AMATOR AMATEUR WOMEN COUNCIL',
              'CITY TAKERS NETWORK', 'DCOM WORD ACADEMY', 'ANPEZ CENTRE FOR ENVIRONMENT AND DEVELOPMENT',
              'RED CROSS AKUKU', 'SAVE YOUR LIVER FOUNDATION OF NIGERIA', 'UNITED CITIZENS CONSULTATIVE INITIATIVE',
              'WHISTLEBLOWERS INTERNATIONAL FOUNDATION', ]

restaurant = ['The Yellow Chilli Restaurant & Bar', 'Cactus', ' Bungalow',
              'Sherlaton Indian', 'Chocolat Royal', 'Spice Route',
              'Jevinik Restaurant', ' Johnny Rockets', ' Glover Court Suya Spot',
              ' Sabor Lagos', 'New China Restaurant', 'Dominos Pizza Nigeria']

transportation = ['Uber', 'Bolt', 'Cabify', 'Gett', 'Careem', 'Via', 'Wings']

hospitality = ['Lagos Food Bank Initiative', 'Education as a Vaccine (EVA)',
               'The Irede Foundation', 'Yinka Shonibare Foundation', 'Amaudo UK'
               'Bisi Alimi Foundation']

telecommunication = ['MTN', 'Airtel', '9 Mobile', 'GLO']


subscription = ['DSTV', 'Startimes', 'GoTV', 'Kwase']

exam  = ['JAMB', 'WAEC']

museaum = ['National Museum', 'Nike Art Galary', 'Badagry Heritage Museum',
           'National Museum, Ife', "Odu'a Museum and Hall of Fame"]

schools = ['Unilag', 'UI', 'Uniben', 'OAU', 'Conenant', 'Bowen',
           'Uniben', 'FUTA', 'FUTO']

ecommerce = ['Jumia', 'SLOT.ng', 'Asos', 'Konga', '3cHub', 'Jiji.ng',
            'Karra', 'Yudala', 'Printivo Store', 'Obiwezy', 'PayPorte',
             'Ajebomarket', 'Kusnap']

power = ['EKEDC', 'AEDC', 'PHED', 'Kaduna Electric', 'Abuja Electricity Distribution Plc',
         'Shiroro', 'Benin Electricity Distribution Plc', 'Jos Electricity Distribution Plc',
         'Ibadan Electricity Distribution Plc', 'Enugu Electricity Distribution Plc',
         ]

airlines = ['Arik Air', 'Chanchangi Airlines', 'Dana Air', 'Kabo Air']

industrial = ['Dangote', 'Flour Mills', 'Nigeria Breweries', 'Nestle Nigeria',
              'BUA CEMENT PLC', 'Lafarge Africa PLC', 'ARDOVA PLC', 'GUINNESS NIGERIA PLC',
              'SEVEN-UP BOTTLING CO. LIMITED', 'HONEYWELL FLOUR MILLS PLC',
              'CONOIL PLC', 'UNILEVER NIGERIA PLC', 'STALLION NIGERIA LIMITED',
              'JMG LIMITED', 'CADBURY NIGERIA PLC']

merchant_industry_dict = {'Retails':supermarket,
                          'Restaurants':restaurant,
                          'Transportations': transportation,
                          "Telecommunications": telecommunication,
                          'E-Commerce': ecommerce,
                          'TV Subscriptions':subscription,
                          'Healths': hospitals,
                          'Educations': schools,
                          'Exam': exam,
                          'Hospitalitys': museaum,
                          'Airlines': airlines,
                          'Industrial': industrial,
                          'Power': power}

In [ ]:
def merchant_email_generator(contact_name, merchant_industry, merchant_name):
  domain_ext = {'Retail': '.mall.ng',
          'Restaurant': '.food',
          'Transportations': '.travel',
          'TV Subscriptions': ".tv",
          'Healths': '.healthcare',
          'Exam': ".org",
          'E-Commerce': '.ng',
          'Educations': ".edu.ng",
          'Hospitalitys': '.museum',
          'Airlines': '.airline.com',
          'Power': '.power.com'}

  email_prefix = contact_name.lower()

  if type(merchant_name) == str:
    merchant_name = merchant_name.split()[0].lower()
  else:
    merchant_name = 'gmail'

  email_extension = ""

  if merchant_industry in domain_ext:
    email_extension = domain_ext[merchant_industry]
  else:
    email_extension = '.com'
  email = f"{email_prefix}@{merchant_name}{email_extension}"

  return email.lower()

In [ ]:
# how many industries do we have in total
total = 0
for k, v in merchant_industry_dict.items():
  total += len(v)

total

In [ ]:
user_roleid3.shape[0], len(user_roleid3.FirstName.values)

In [ ]:
industry_companies_contact = []
first_names = list(user_roleid3.FirstName.values)
last_names = list(user_roleid3.LastName.values)

i = 0
total -= 1

while i < user_roleid3.shape[0]:
  if i  < total:
    for k, vals in merchant_industry_dict.items():
      for v in vals:
        num = random.choice(range(100, 1000))
        full_name = str(first_names[i]) + '.' + str(last_names[i]) + str(num)
        industry_companies_contact.append((k, v, full_name))
        i += 1
  else:
    full_name = str(first_names[i]) + '.' + str(last_names[i]) + str(num)
    industry_companies_contact.append((np.nan, np.nan, full_name))
    i += 1

user_roleid3.shape[0], len(industry_companies_contact)

In [ ]:
# random.seed(500)
# random.shuffle(industry_companies_contact)

In [ ]:
user_roleid3.columns

In [ ]:
merchant_df = user_roleid3[['UserID']]

In [ ]:
industry_companies_contact[-6:-2]

In [ ]:
industries = []
companies = []
email = []

for industry, company, contact_name in industry_companies_contact:
  industries.append(industry)
  companies.append(company)
  email.append(merchant_email_generator(contact_name, industry, company))

In [ ]:
merchant_df['MerchantName'] = companies
merchant_df['MerchantIndustry'] = industries
merchant_df['Email'] = email

In [ ]:
merchant_df.reset_index(inplace=True, drop=True)
merchant_df.head()



```
# This is formatted as code
```

### UPDATE THE USER TABLE WITH MERCHANTS EMAIL

In [ ]:
merchant_df[merchant_df['UserID']==46]['Email'].values[0]

In [ ]:
merchants_user_id = merchant_df['UserID'].values
merchants_user_id

In [ ]:
df_user[df_user['RoleID'] == 3]['Email'].values

In [ ]:
for user_id in merchants_user_id:
  merchant_email = merchant_df[merchant_df['UserID']==user_id]['Email'].values[0]
  df_user.iloc[user_id-1, 3] = merchant_email

In [ ]:
df_user[df_user['RoleID'] == 3].head()

### Betting Provier

In [ ]:
# get table of betting companies in Nigeria
url = 'https://punchng.com/betting/bookmakers/best-betting-sites-in-nigeria/'
result = pd.read_html(url)[0]

In [ ]:
betting_provider_df = pd.DataFrame({"ProviderID":list(range(1, result.shape[0]+1)), 'ProviderName':result.Operator})

In [ ]:
betting_provider_df

### AGENT DATA

In [ ]:
AGENT_TYPES = ['Independent Agent', 'Super Agent', 'Other Agent Type']

# Function to generate an agent type randomly
def generate_agent_type():
    return random.choice(AGENT_TYPES)

In [ ]:
def generate_commission_rate():
    # Example: Generate a commission rate between 1% and 10%
    return round(random.uniform(0.01, 0.10), 2)

In [ ]:

def generate_agent_status():
    AGENT_STATUSES = ['Active 95%', 'Inactive 5%', 'Other Agent Status']
    return random.choice(AGENT_STATUSES)

In [ ]:


def generate_unique_agent_code(agent_codes):
    while True:
        agent_code = fake.random_int(min=1000, max=9999)
        if agent_code not in agent_codes:
            agent_codes.add(agent_code)
            return f'SMA{agent_code}'


# Define your generate_gender and generate_nigerian_address functions here

# Filter the DataFrame to get users with RoleID = 2
df_agent = df_user[df_user['RoleID'] == 2]

agent_data = []
agent_codes = set()

for user_id in df_agent['UserID']:
    agent_code = generate_unique_agent_code(agent_codes)
    bvn = generate_unique_bvn(used_bvns)
    gender = generate_gender()  # Use your generate_gender function here
    dob = fake.date_of_birth(minimum_age=18, maximum_age=70)
    address = generate_nigerian_address()  # Use your generate_nigerian_address function here
    agent_data.append((agent_code, bvn, user_id, gender, address, dob))

# Create a DataFrame from agent_data
df_agent = pd.DataFrame(agent_data, columns=['AgentCode', 'BVN', 'UserID', 'Gender', 'Address', 'DateOfBirth'])

In [ ]:
df_agent

### AGENT SERVICE TABLE

In [ ]:

data = {
    'ServiceID': [1, 2, 3, 4, 5, 6, 7, 8],
    'ServiceName': [
        'Cash Deposits and Withdrawals',
        'Fund Transfers',
        'Bill Payments',
        'Customer Onboarding',
        'Transaction Processing',
        'Cash Management',
        'Marketing and Sales Assistance',
        'POS Operations'
    ]
}

df_agent_services= pd.DataFrame(data)

In [ ]:

data = {
    'ShiftID': [1, 2, 3],
    'Name': ['Morning Shift', 'Afternoon Shift', 'Evening Shift'],
    'StartTime': ['08:00:00', '12:00:00', '16:00:00'],
    'EndTime': ['12:00:00', '16:00:00', '20:00:00'],
    'ModifiedDate': ['2023-10-30 08:00:00', '2023-10-30 12:00:00', '2023-10-30 16:00:00']
}

# Create the Shift DataFrame
df_shift = pd.DataFrame(data)

# Optionally, you can set the "ShiftID" as the index
df_shift.set_index('ShiftID', inplace=True)

# Display the DataFrame
print(df_shift)

##POS TERMINAL

In [ ]:
pos_terminal_data = {
    'TerminalID': f'SharpMonie{range(1, 101)}',
    'AgentID': df_agent['AgentID'],
    'TerminalType': [random.choice(['Mobile', 'Fixed']) for _ in range(100)],
}

df_pos_terminal = pd.DataFrame(pos_terminal_data)

TRANSACTION TABLE

In [ ]:
pos_transaction_data = {
    'TransactionID': range(1, 101),
    'TerminalID': df_pos_terminal['TerminalID'],
    'Amount': [random.uniform(1, 50) for _ in range(100)],
    'TransactionDate': [fake.date_this_year() for _ in range(100)],
}

df_pos_transaction = pd.DataFrame(pos_transaction_data)

##AGENT & BUSINESS TABLE

### SAVE ALL DATAFRAME AS A CSV

In [ ]:
df_userRole.to_csv('user_role.csv', index=False)

df_user.to_csv('user.csv', index=False)

device_tokens_df.to_csv('device_token.csv', index=False)

session_data_df.to_csv('session.csv', index=False)

audit_logs_df.to_csv('user_role.csv', index=False)

df_customer.to_csv('customer.csv', index=False)

geolocation_data_df.to_csv('geolocation.csv', index=False)

wallet_df.to_csv('wallet.csv', index=False)

wallet_balance_log.to_csv('wallet_log.csv', index=False)

transaction_df.to_csv('transaction.csv', index=False)

merchant_df.to_csv('merchant.csv', index=False)

betting_provider_df.to_csv('betting_provider.csv', index=False)

df_agent.to_csv('agent.csv', index=False)

df_agent_services.to_csv('agent_service.csv', index=False)